//
//  Config.xcconfig
//  Intuneomator
//
//  Created by Gil Burns on 5/14/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION=173
ENABLE_USER_SCRIPT_SANDBOXING=NO

// Default for GUI apps
GENERATE_INFOPLIST_FILE = YES
